spring:
  datasource:
    url: jdbc:postgresql://localhost:5438/delivery
    username: delivery
    password: delivery
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.http: DEBUG
    org.slf4j: DEBUG
    ru.practicum: DEBUG