spring:
  datasource:
    url: jdbc:postgresql://localhost:5436/order
    username: order
    password: order
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.http: DEBUG
    org.slf4j: DEBUG
    ru.practicum: DEBUG