spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/store
    username: store
    password: store
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode: always

jpa:
  hibernate:
    ddl-auto: update
  show-sql: true
  properties:
    hibernate:
      format_sql: true
      dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    org.springframework.web: DEBUG
    org.springframework.http: DEBUG
    org.slf4j: DEBUG
    ru.practicum: DEBUG